body {
    margin: 0;
    padding: 0;
    background-color: #a83432;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.color {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hex {
    display: block;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}

.color button {
    background: none;
    outline: none;
    border: 3px solid white;
    cursor: pointer;
    margin: 20px;
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
}